/* Estilos personalizados para el modal */
.modal-custom {
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #f0f8ff; /* Alice Blue */
}

.modal-header {
    background-color: #4a90e2; /* Blue */
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-footer {
    border-top: none;
    padding-top: 15px;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    display: block;
    width: 100%;
}

.btn-primary {
    background-color: #4a90e2; /* Blue */
    border-color: #000; /* Borde negro para el botón */
    border-radius: 20px;
    border: 2px solid #000; /* Borde negro para el botón */
}

.btn-primary:hover {
    background-color: #357ABD; /* Darker Blue */
    border-color: #000; /* Borde negro para el botón en hover */
}

/* Estilo para eliminar el icono de + en el botón */
.btn-primary i.fas.fa-plus {
    display: none; /* Oculta el icono */
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    justify-content: center;
    padding-bottom: 20px;
}

.table-responsive {
    overflow-x: auto;
}

/* Estilos para la tabla */
.table {
    border: 2px solid #000; /* Borde negro para la tabla */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

.table thead th {
    white-space: nowrap;
    background-color: #4a90e2; /* Blue */
    color: #000; /* Texto negro para los encabezados */
    border-bottom: 2px solid #000; /* Línea negra de separación debajo del encabezado */
}

.table tbody tr {
    border-bottom: 1px solid #000; /* Línea negra separadora entre filas */
}

.table thead th + th {
    border-left: 1px solid #000; /* Línea negra separadora entre columnas del encabezado */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; /* Light Grey */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #eaf3ff; /* Light Blue */
}

.btn-outline-primary {
    color: #4a90e2; /* Blue */
    border-color: #4a90e2; /* Blue */
}

.btn-outline-primary:hover {
    background-color: #4a90e2; /* Blue */
    color: #fff;
}
.page-header {
    text-align: center;
    margin-bottom: 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}